*{
  box-sizing: border-box;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.container{
  width: 50%;
  height: 50vh;
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
img.logo{
  
}
